{
	"presets": [
		["@babel/preset-env", {
			"targets": {
				"browsers": ["ie >=11"]
			},
			"modules": false,
			"useBuiltIns": "entry"
		}]
	],
	"plugins": ["@babel/plugin-syntax-dynamic-import"]
}